/* PHASE 5: Cats */
.content-header {
  height: 200px;
  background: url("file:///Users/appacademy/Desktop/w6d2/skeleton/shared/cats.jpg");
}

.content-header h1 {
  display: block;
  position: absolute;
  top: 150px;
  left: 25%;
  color: white;
  font-size: 36px;
}

.content-header a {

}
